{% load allauth %}
{% if attrs.href %}
<a href="{{ attrs.href }}"
   {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
   {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
   {% if attrs.value %}value="{{ attrs.value }}"{% endif %}
   class="btn {% if "secondary" in attrs.tags %}btn-secondary{% elif "danger" in attrs.tags %}btn-secondary{% elif "link" in attrs.tags %}btn-secondary{% else %}btn-primary{% endif %}">
   {% slot %}{% endslot %}
</a>
{% else %}
<button
    type="{{ attrs.type|default:"submit" }}"
    {% if attrs.form %}form="{{ attrs.form }}"{% endif %}
    {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
    {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
    {% if attrs.value %}value="{{ attrs.value }}"{% endif %}
    class="btn {% if "secondary" in attrs.tags %}btn-secondary{% elif "danger" in attrs.tags %}btn-secondary{% elif "link" in attrs.tags %}btn-secondary{% else %}btn-primary{% endif %}">
    {% slot %}{% endslot %}
</button>
{% endif %}
